/**************phone******************************/
.countdown {
    display: flex;
    width: 310px;
    height: 82px;
    margin-bottom: 40px;
    flex-direction: row;
    justify-content: space-around;
}

.countdown .unit {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 64px;
    height: 82px;
    margin-bottom: 40px;
}
.countdown .unit span{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    margin: 0;
    padding: 0;
}
.countdown span {
    font-size: 36px;
}

.countdown .colon{
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    font-size: 36px;
}
/**************tablet******************************/
.countdown_m {
    width: 358px;
}

/**************desktop******************************/
.countdown_l {
    width: 588px;
    height: 129px;
    margin-bottom: 72px;
}
.countdown_l .unit {
    width: 132px;
    height: 129px;
}
.countdown_l .unit span {
    font-size: 72px;
}
.countdown_l .colon span{
    font-size: 72px;
}
